{{drivers|json}}
{{newDriver|json}}

<div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
        {{oszlop.text}}
    </div>
    <div class="col">
        Műveletek
    </div>
</div>
<!-- Fejléc kiíratás vége -->
<div class="input-group mb-3">

    <button (click)="menuNyitva=!menuNyitva" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Mindenhol</button>
    <ul [ngbCollapse]="menuNyitva" class="dropdown-menu">
        <li><a (click)="mezoKivalaszt('')" class="dropdown-item" href="#">Mindenhol</a></li>
        <li *ngFor="let oszlop of oszlopok"><a (click)="mezoKivalaszt(oszlop.key)" class="dropdown-item" href="#">{{oszlop.text}}</a></li>
    </ul>

    <span class="input-group-text" id="basic-addon1">Keresés</span>
    <input type="text" class="form-control" [(ngModel)]="keresendo">
</div>

<div  class="row mb-2 mt-2">
    <div *ngFor="let oszlop of oszlopok" class="col">
        <ng-container *ngIf="oszlop.type!='plain'; else notchange">
            <input [type]="oszlop.type" class="form-control" [(ngModel)]="newDriver[oszlop.key]">
        </ng-container>
        <ng-template #notchange>
            
        </ng-template>
        
        <!-- {{driver[oszlop.key]}} -->
    </div>
    <div class="col">
        <button (click)="addDriver()" type="button" class="btn btn-outline-primary me-2">Hozzáad</button>
    </div>
</div>
<!-- Hozzáad gomb vége -->


<div *ngFor="let driver of drivers|search:keresendo:keresMezo" class="row mb-2 mt-2">
    <div *ngFor="let oszlop of oszlopok" class="col">
        <ng-container *ngIf="oszlop.type!='plain'; else notchange">
            <input [type]="oszlop.type" class="form-control" [(ngModel)]="driver[oszlop.key]">
        </ng-container>
        <ng-template #notchange>
            {{driver[oszlop.key]}}
        </ng-template>
        
        <!-- {{driver[oszlop.key]}} -->
    </div>
    <div class="col">
        <button (click)="editDriver(driver)" type="button" class="btn btn-outline-success me-2">Szerkeszt</button>
        <button (click)="deleteDriver(driver)" type="button" class="btn btn-outline-danger">Törlés</button>
    </div>
</div>